extends _layout

block append styles
  // you can put additional styles here
  // notice 'append', this won't overwrite the main file

block content
  p hello this is the about page
  .info
    h2 about my pc
    // looping over 'info' variable from server
    each val,key in info
      h1 #{key}: #{val}

block footer
  p.tactr hello this is another footer
